/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
<<<<<<< Updated upstream
    padding-bottom:  2em ;
    background-image: url('../imagenes/fondo\ de\ pantalla\ para\ formularios.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    min-height: 100vh;
    position: relative;
=======
    padding: 0;
    display: flex; /* Usamos flexbox */
    flex-direction: column; /* Para que los hijos se coloquen en columnas */
    min-height: 100vh; /* Garantiza que el contenido ocupe al menos toda la pantalla */
    background-image: url('../imagenes/fondo\ de\ pantalla\ para\ formularios.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
>>>>>>> Stashed changes
}

img {
    width: 150px; /* Tamaño fijo para la imagen */
    height: 150px; /* Mantiene una proporción cuadrada */
    display: block; /* Elimina el espacio inferior */
    margin: 0 auto; /* Centra la imagen */
}


/* Contenedor principal */
.container {
    flex: 1; /* Hace que este contenedor crezca para ocupar el espacio disponible */
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.container h1 {
    color: #393939; 
    text-align: center;
}

.card {
    background-color: #E6E2D6 !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    color: #393939; 
    margin-bottom: 20px;
}

/* Eliminar el transform para evitar el salto cuando se pasa el cursor */
.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.result {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background-color: #d1e7dd;
    border: 1px solid #badbcc;
    border-radius: 5px;
    color: #0f5132;
    display: none;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

h1 {
    text-align: center;
}

form {
    background: #E6E2D6 !important; /* Asegura que el fondo sea el deseado */
    padding: 20px;
    border-radius: 10px;
}

form .form-label {
    font-weight: bold;
    color: #333;
}

form .form-control {
    background-color: #fdfdfd; /* Fondo gris claro en los campos de entrada */
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

form .form-control:focus {
    border-color: #035E8D;
    box-shadow: 0 0 5px rgba(3, 94, 141, 0.5);
}

form button.btn {
    background-color: #fbc68d !important; /* Elimina el azul y fuerza el color que quiero */
    color: white;
    padding: 10px; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center; 
    width: 120px; 
}

form button.btn:hover {
    background-color: #fea240  !important; /* Un tono más oscuro para el hover */
}

/* Header */
.header {
    position: absolute; /* Se posicionará respecto al contenedor */
    left: 0;
    bottom: 0;
    width: 100%; /* Ocupa todo el ancho */
    height: 60px; /* Altura del footer */
    background-color: #035E8D; /* Color del footer */
    display: flex; /* Activar flexbox */
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.header-icons {
    display: flex; /* Si tienes más íconos, también los alinea */
    justify-content: center;
    align-items: center;
}

.header-icons i {
    font-size: 25px; /* Tamaño del ícono */
    color: #fff; /* Color del ícono */
    margin-right: 30px;
}

<<<<<<< Updated upstream


 .footer {
        position: absolute; /* Se posicionará respecto al contenedor */
        left: 0;
        bottom: 0;
        padding: 1em 0;
        width: 100%; /* Ocupa todo el ancho */
        height: 60px; /* Altura del footer */
        background-color: #035E8D; /* Color del footer */
        display: flex; /* Activar flexbox */
        justify-content: center; /* Centrar contenido horizontalmente */
        align-items: center; /* Centrar contenido verticalmente */
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        color: white;
    }
=======
.footer {
    position: relative; /* Se posicionará respecto al contenedor */
    left: 0;
    bottom: 0;
    padding: 1em 0;
    width: 100%; /* Ocupa todo el ancho */
    height: 60px; /* Altura del footer */
    background-color: #035E8D; /* Color del footer */
    display: flex; /* Activar flexbox */
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    color: white;
} 
>>>>>>> Stashed changes
